<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" title="">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:40</td>
        <td>
            <h4><a href="#" title="">Presentazione GrUSP</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:40 &ndash; 09:50</td>
        <td>
            <h4><a href="#" title="">Presentazione PUG Friuli e WPDay</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:55 &ndash; 10:25</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="WP REST API, se ne sente parlare sempre più spesso. Ma cosa sono? A cosa servono? In quali casi conviene utilizzarle? In questo talk troverai la risposta a queste domande e scoprirai come utilizzarle e come rendere più leggera e performante l’interfaccia di un progetto WordPress.">Introduction to WP REST API</a></h4>
            <a href="http://twitter.com/dymissy" title="Simone D'Amico">Simone D'Amico - @dymissy</a>
        </td>
      </tr>

      <tr class="break">
        <td class="time">10:25 &ndash; 10:40</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:40 &ndash; 11:25</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="In questo talk mi piacerebbe raccontare il caso studio di Minimable, un tema WordPress che in circa 2 anni ha generato oltre $60.000, senza passare per marketplace come Themeforest. Racconterò quali strategie ho utilizzato e degli spunti su come partire per creare un tema WordPress destinato alla vendita.">Come guadagnare con un tema WordPress</a></h4>
            <a href="http://twitter.com/fedeweb" title="Federico Pian">Federico Pian - @fedeweb</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:30 &ndash; 12:00</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="La sicurezza in WordPress rappresenta un problema che spesso viene sottovalutato ed anche quando sì è attendi nella gestione degli aggionamenti può a volte si possono manifestare grosso problemi. Nel talk vengono presentati alcune “best practices” che ogni sviluppatore dovrebbe almeno conoscere.">WordPress Hardening v4</a></h4>
            <a href="" title="Mattia Piovano">Mattia Piovano</a>
        </td>
      </tr>


      <tr class="common_event">
        <td class="time">12:05 &ndash; 13:00</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Ho iniziato a lavorare con Wordpress 4 anni fà perché, da frontend developer, adoravo la semplicità con il quale riuscivo a gestire tutte le difficoltà lato backend che un sito aveva, concentrandomi solamente sullo sviluppo del frontend. Parallelamente alla mia conoscenza strutturale del cms, cresceva anche il campo di utilizzo che ne facevo. Questo mi ha portato a sottolinearne i limiti, url rewriting, permessi e multi-site sono solo degli esempi. Da gran pigro quale sono però non mi andava di gettare uno strumento che conoscevo così bene e che, soprattutto, amavo così tanto. Ho preso la decisione più semplice, e cioè quella di tornare ad utilizzarlo come all'inizio, come un fornitore di dati, spostando tutta la gestione del frontend da un altra parte. Il lavoro è stato arduo,  ma il risultato è stato sorprendente.">Wordpress as a framework</a></h4>
            <a href="http://twitter.com/boom__Ink" title="Paolo Cargnin">Paolo Cargnin - @boom__Ink</a>
        </td>
      </tr>

      <tr class="break lunch">
        <td class="time">13:00 &ndash; 14:15</td>
        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:15 &ndash; 15:00</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Sviluppo guidato dai tests in ambiente WordPress. La prima parte della frase fa aggrottare la fronte in condizioni normali: in ambiente WordPress assume un che di mistico ed irraggiungibile. Non è cosi'.">TDD in WP</a></h4>
            <a href="http://twitter.com/lucatume" title="Luca Tumedei">Luca Tumedei - @lucatume</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">15:05 &ndash; 15:50</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Se pensi che il tempo di caricamento della pagina non sia importante o di non poter migliorare la velocità del tuo sito perché è il server ad essere lento, ti stai sbagliando :) In questo talk parlerò del perché è importante realizzare siti veloci, delle principali best practices per realizzarli e del come migliorare le perfomances in modo rapido e senza fatica.">WPO: Wordpress Performance Optimization</a></h4>
            <a href="http://twitter.com/andreacardinali" title="Andrea Cardinali">Andrea Cardinali - @andreacardinali</a>
        </td>
      </tr>

      <tr class="break">
        <td class="time">15:50 &ndash; 16:05</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:05 &ndash; 16:35</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Affrontare lo sviluppo di applicationi WordPress in modo professionale richiede l’utilizzo di strumenti  capaci di automatizzare parte del lavoro e di ridurre l’errore umano. Nel talk vengono presentati alcuni di questi strumenti (yeoman, git, gulp e deployer) ed alcune implementazioni specifiche per WordPress.">Professional WordPress Workflow</a></h4>
            <a href="http://twitter.com/miziomon" title="Maurizio Pelizzone">Maurizio Pelizzone - @miziomon</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:40 &ndash; 17:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Quali servizi di un Cloud possiamo sfruttare per Wordpress? Si analizzeranno quali sono i servizi in Cloud più utili per Wordpress con un occhio ad opportunità e criticità (load balancing, database e memcache). Si parlerà di come gli asset statici possono essere salvati in un servizio di storage (Api Vs. s3fs) e distribuiti  attraverso una CDN (CDN pull Vs. push). Per finire sarà proposto un caso di scuola su come trasformare l'interno Wordpress in un servizio in Cloud scalabile.">Wordpress in the Cloud</a></h4>
            <a href="http://twitter.com/an_dreij" title="Andrea Morandini">Andrea Morandini - @an_dreij</a>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:30</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
