<a name="info"></a>
<section class="alpha_14">
<div class="container group">

  <div class="column_6 centered">
    <h3 class="center">La conferenza</h3>

    <p>WordPress è attualmente il sistema per la gestione di blog e contenuti più utizzato al mondo.</p>
    <p>Il WordPress Day è un evento per tutti gli sviluppatori di temi e plugin che introduce le best practice e ne mostra case study ad alto livello.</p>
	<p>La conferenza è organizzata dal <a href="http://friuli.grusp.org">Pug Friuli</a> coordinato dal <a href="http://grusp.it">GrUSP</a> con la
        collaborazione di <a href="http://pordenone.talentgarden.it">Talent Garden Pordenone</a>.</p>
  </div>

  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
