<a name="cfp"></a>
<section class="alpha_24">
  <div class="container group">
  <div class="column_6 centered">
    <h3 class="center">Call for Paper</h3>
    <p>Il <a href="{{page.cfp_url}}">call for paper è aperto</a> a tutti e chiuderà il <strong>15 settembre 2015</strong>. <br/>

    Affrettati ad <a href="{{page.cfp_url}}">inviarci la tua proposta</a>. Lo Speaker package include: biglietto alla conferenza, hotel pagato per una notte (prima dell'evento), cena con gli speaker la sera prima dell'evento, coffee break e pranzo il giorno dell'evento.</p>

    <p>Se tu, o la tua azienda, deciderete di coprire in autonomia le spese di alloggio vi verrà dato in cambio una sponsorizzazione di tipo Bronze.
    Per qualsiasi informazioni potete contattare il GrUSP alla seguente email info@grusp.org.</p>
  </div>

    <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
